* {
    background-color: #cd6465;
}

body {
    padding: auto; 
    margin: auto;
}

h1 {
    font-size: 60px;
    margin-top: -200px;
}

h1,p {
    text-align: center;
    color: #3b3838;
    margin: auto;
    padding: 0;
}

.tittle-img-top {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 80px;
}

.tittle-img-bot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
}


.gif {
    margin-top: 0;
    margin-bottom: -100px;
    float: inline-end;
}

h4 {
    text-align: center;
    margin-bottom: 1px;
    margin-top: 5px;
}

.row {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.card {
    margin-left: 15px;
    margin-bottom: 20px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
    transition: 0.3s;;
    width: 250px;
    height: 600px;
    border-radius: 5px;
    border: solid 1px #3b3838;
    border-color: #3b3838;
}
  
  .card img {
    width: 250px;
    height: 250px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: solid 1px #3b3838;
    border-color: #3b3838;
  }

  .card:hover {
    box-shadow: 0 8px 8px 0;
  }

  .container {
    padding: 2px 16px;
  }
  
  .container text {
      text-align: justify;
  }
  a:link,a:visited,a:hover {
      color: #3b3838;
      text-decoration: none;
  }

  footer,footer b {
    background-color: #b13535;
  }

  footer {
    margin-top: 100px;
    padding: 20px 0px 20px 0px;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 15px;
    color: #3b3838;
  }

.runes {
    display: block;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.container-recipe {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

.item-description {
    color: #3b3838;
    font-size: 20px;
    text-align: left;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 500px;   
}

.item-description p{
    text-align: center-justify;
}

.item-description h2 {
    color: #3b3838;
    text-align: center;
    margin: auto;
}

.item-img img{
    border-radius: 50%;
    width: 300px;
    margin: auto;
    border: solid #3b3838;
}

.container-recipe-second {
    color: #3b3838;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}

.container-recipe-second :first-child {
    width: 250px;
}

.container-recipe-left {
    display: flex;
    flex-direction: column;
}

.item-return-button {
    margin-top: auto;
    margin-bottom: 10px;
    width: 150px;
    text-align: right;
}
